/* Basic style */
body {
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
  background-color: rgb(182, 217, 238);
  color: black;
}

/* Page container */
main{
  padding: 20px;
}

/*Header and section */
h1, h2, h3 {
font-weight: bold;
color: black;
}

/* Links*/
a {
  color: rgb(26, 26, 94);
  text-decoration: none;
}

a:hover {
  color:rgb(50, 83, 228);
}